<html>
<head>
<title>Yiiya Ssente</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<a class="navbar-brand" href="#">Yiiya</a>
</div>
<div>
<ul class="nav navbar-nav navbar-left">
	<li><a href="#">home</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">

<li class="dropdown navbar-nav right">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
Admin
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li><a href="#">jmeter</a></li>
<li><a href="#">EJB</a></li>
<li><a href="#">Jasper Report</a></li>
<li class="divider"></li>
<li><a href="#">Separated link</a></li>
<li class="divider"></li>
<li><a href="#">One more separated link</a></li>
</ul>
</li>
</ul>
</div>
</nav>
<%for page in @pages do%>
<%=page.name%>
<%= page.created_at%>
<%= time_ago_in_words(page.created_at)%> ago
<%end%>

<%for footer in @pages do%>
<%=footer.name%>
<%end%>

</body>
</html>
